* {
    transition: all 1s;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.grid {
    display: grid;
    grid-template-columns: repeat(40, auto);
    position: fixed;
    z-index: 100;
    gap: 6px;
    /* filter: drop-shadow(1px 1px 20px rgb(41, 41, 41)) blur(3px); */
}




.box {
    position: relative;
    top: -150px;
    left: -120px;
    width: 150px;
    height: 150px;
    background-color: #111;
    clip-path: polygon(50% 1%, 100% 23%, 100% 75%, 50% 100%, 0 75%, 0 23%);
}

.blur {
    position: fixed;
    width: 300px;
    height: 300px;
    background-image: linear-gradient(red, blue);
    filter: blur(50px);
    animation: ani 50s linear infinite;
}

@keyframes ani {
    0% {
        top: 0;
        right: auto;
        left: -20vw;
    }

    10% {
        top: 100vh;
        right: auto;
        left: 10vw;
    }

    20% {
        top: 50vh;
        left: 50vw;
    }

    30% {
        top: 0vh;
        left: 100vw;
    }

    40% {
        top: 100vh;
        left: 0vw;
    }

    50% {
        top: -100vh;
        left: -100vw;
    }

    52% {
        top: 40vh;
        left: auto;
        right: 50vw;
    }

    60% {
        top: 100vh;
        left: 20vw;
        right: auto;
    }

    67% {
        top: 70vh;
        left: auto;
        right: 20vw;
    }

    75% {
        top: 20vh;
        left: 40vw;

    }

    100% {
        top: 0vh;
        left: auto;
        right: -20vw;
    }

}





.upcontaner {
    position: fixed;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio {
    z-index: 800;
    position: relative;
    top: -250px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    color: wheat;
    background-color: #272424c2;
    padding: 20px 0px;
    border-radius: 10px;
    font-weight: 700;
}


.contaner {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
    position: fixed;
    z-index: 200;
    transform: translatey(-50px);
}

.boxmusic {
    background-color: #272424;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

@media only screen and (max-width: 480px) {
    .boxmusic {
        width: 90px;
        height: 90px;
    }

    .radio {
        width: 360px;
    }

}

@media only screen and (max-width: 400px) {
    .boxmusic {
        width: 80px;
        height: 80px;
    }

    .radio {
        width: 320px;
    }
}

@media only screen and (max-width: 350px) {
    .boxmusic {
        width: 75px;
        height: 75px;
    }

    .radio {
        width: 300px;
    }
}

.boxmusic:hover {
    z-index: 300;
    box-shadow: 1px 0px 20px 10px rgb(224, 6, 6),
        -1px 0px 20px 20px navy,
        inset 0 0 50px 20px var(--color),
        inset 0 0 50px 20px var(--color2);
}

.boxmusic:active {
    box-shadow: 1px 0px 20px 10px rgb(224, 6, 6),
        -1px 0px 20px 20px navy,
        0 0 50px 20px var(--color),
        inset 0 0 50px 20px var(--color2);
}

.boxmusic.active {
    box-shadow: 1px 0px 20px 10px rgb(224, 6, 6),
        -1px 0px 20px 20px navy,
        0 0 50px 20px var(--color),
        inset 0 0 50px 20px var(--color),
        inset 0 0 50px 20px var(--color2);
}


.contanerm {
    display: flex;
    flex-direction: column;
    z-index: 500;
    position: fixed;
    transform: translateY(150px);
    align-items: center;
}

#waveform {
    width: 300px;
    scrollbar-color: rgba(45, 46, 48, 0.363)transparent;
}


.buttons {
    transform: translateX(10px);
}

#file {
    width: 90px;
}

#waveform ::part(cursor):before {
    content: '';
    color: rgb(102, 108, 128);
    position: absolute;
    left: 20px;
    font-weight: 900;
}



.Note {
    z-index: 1000;
    color: white;
    background: #111;
    width: 800px;
    font-weight: 700;
    border-radius: 10px;
    font-size: 20px;
}

.Note h3 {
    text-align: center;
    margin-bottom: -5px;
    color: rgb(238, 95, 95);
}

.Note li:nth-child(1) {
    margin-bottom: 3px;
}

.instructions {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.instructions .ibox {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #272424;
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

@media only screen and (max-width: 850px) {
    .Note li {
        font-size: 17px !important;
        font-weight: 600;
    }

    .never {
        font-size: 12px;
    }
}

.Note .btn {
    text-align: center;
}

.Note .btn button {
    background-color: #272424;
    color: white;
    font-size: 30px;
    padding: 5px 130px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.never {
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.never input {
    transform: scale(1.5);
}